@require 'constants.styl'
@require 'fonts.styl'
@require 'buttons.styl'
@require 'utils.styl'

block(colorBorder=colorBorder)
    padding borderRadiusXL
    border colorBorder 2px solid
    border-radius borderRadiusXL
    header
        font-large()
    section
        font-medium()
block-bg(colorBg=colorBg3)
    background colorBg

block-glass(bgColor=colorBg)
    margin 0
    padding borderRadiusS
    backdrop-filter blur(15px) brightness(.8)
    background mix(bgColor, transparent, 35%)
    border-radius borderRadiusS
    header
        font-medium()
    section
        font-small()

input()
    margin 0
    padding 5px 10px
    background colorBg3
    border colorBorder 1px solid
    border-radius borderRadiusXS
    color colorText2
    cursor text
    trans()
    &:focus
        border-color colorBg6
        color colorText1
    &::placeholder
        color colorText4
