font-large-xxx()
  font-family ALS-Sector, Roboto, monospace
  font-size clamp(3rem, calc(2vw + 3rem), 5rem)
  line-height 1.2
font-large-xx()
  font-family ALS-Sector, Roboto, monospace
  font-size clamp(2.2rem, calc(2vw + 2rem), 3.4rem)
  line-height 1.2
font-large-x()
  font-family ALS-Sector, Roboto, monospace
  font-size clamp(1.5rem, calc(2vw + 1.5rem), 2rem)
  line-height 1.2
font-large()
  font-family ALS-Sector, Roboto, monospace
  font-size clamp(1rem, calc(1vw + 1rem), 1.7rem)
  line-height 1.2
font-medium()
  font-family ALS-Sector, Roboto, monospace
  font-size clamp(1rem, calc(0.7vw + 0.7rem), 1.3rem)
  line-height 1.2
font-small()
  font-family ALS-Sector, Roboto, monospace
  font-size clamp(0.8rem, calc(0.5vw + 0.7rem), 1rem)
  line-height 1.2
font-small-x()
  font-family ALS-Sector, Roboto, monospace
  font-size clamp(0.6rem, calc(0.3vw + 0.7rem), 0.8rem)
  line-height 1.2
font-small-xx()
  font-family ALS-Sector, Roboto, monospace
  font-size clamp(0.5rem, calc(0.2vw + 0.5rem), 0.6rem)
  line-height 1.2
font-small-xxx()
  font-family ALS-Sector, Roboto, monospace
  font-size 0.5rem
  line-height 1.2


font-bold()
  font-weight 700
font-normal()
  font-weight 500
font-thin()
  font-weight 400
